header {
  width: 100%;
  background: darkslategrey;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h2,
p {
  text-align: center;
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;

}

p {
  margin-top: 0;
  margin-bottom: 60px;
  color: grey;
}

form {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px;
  font-family: 'Merriweather', serif;
  background-color: #f9ecec;
  border-radius: 25px;
}

fieldset {
  margin-bottom: 40px;
  border: none;

}

fieldset.one {
  border-bottom: 2px solid black;
  padding: 0;
  padding-top: 40px;
  border-top: 8px double black;
  
}

fieldset.two {
  display: flex;
  width: 100%;
  padding: 0;
}

legend {
  float: left;
  margin-bottom: 30px;
  font-size: 1.6em;
  font-weight: bold;
}

* {
  clear: both;
}

label {
  color: grey;
  font-size: 1.1em;
  margin-right: 30px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
#state {
  transition: ease-in-out 0.30s;
  background: white;
  border: none;
  font-size: 16px;
  outline: 0;
  padding: 15px;
  width: 71%;
  color: #8a97a0;
  margin-bottom: 30px;
  border-radius: 5px;
}


input[type=text]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
#state:focus {
  background-color: aliceblue;
  border: 2px solid black;

}

::-webkit-input-placeholder {
   text-align: right;
   color: lightgrey;
}


.input-group {
  margin-top: 20px;
  width: 60%;
  margin-bottom: 30px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-bottom: 20px;
  margin-right: 10px;
}

label.check-radio {
  margin-bottom: 20px;
}


.newsletter {
  margin-top: 30px;
}

#other {
  margin-top: 10px;
}

button {
  padding: 15px 60px;
  color: white;
  background-color: lightseagreen;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

form {
  font-size: 70%;
}

::-webkit-input-placeholder {
  font-size: 70%;
}

fieldset.one label {
  display: inline-block;
  min-width: 15%;
  margin-bottom: 10px;
  width: 40%;
}

fieldset.one input {
  display: inline-block;
  text-align: left;
  width: 93%;
}

#state {
  font-size: 99%;
  width: 100%;
}  


textarea {
  width: 92%;
}

#zip {
  width: 45%;
}


.copy {
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 10px;
  opacity: 0.5;
}

@media(min-width: 768px) {

  form {
    font-size: 90%;
    max-width: 800px;
  }

  ::-webkit-input-placeholder {
    font-size: 90%;
  }

  fieldset.one label {
    display: inline-block;
    min-width: 15%;
    margin-bottom: 5px;
    width: 20%
  }

  fieldset.one input {
    display: inline-block;
    text-align: left;
    width: 72%;
  }

  #state {
    width: 75%;
    font-size: 100%;
  }

  #zip {
    width: 20%;
  }

  textarea {
    width: 96%;
  }

  * {
    clear: both;
  }

}


